@import '../../common.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    padding-bottom: 40px;
}
.title {
    font-size: 20px;
    font-weight: 600;
    color: $main-color;
    padding: 0;
    margin-top: 10px;
}

.card_wrapper {
    @extend .common-horizontal-alignment;
    list-style: none;
    gap: 10px;
    padding: 10px 0 20px 0;
    margin: 0;
}

.card_item {
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.card_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card_info {
    color: $main-color;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 20px 0;
}