@import '../../common.scss';

.container {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(16,35,74,1);
    color: $main-color;
    max-height: 100px;
    max-width: 425px;
    font-weight: 400;
   
}

.alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contents_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.content1 {
    display: flex;
    gap: 20px;
}

.copyright {
    width: 100px;
    height: auto;
}