:root {
  background-color: #F7F7F7;
}

body {
    margin: 0;
}

.global {
    max-width: 425px;
    min-height: 100vh; 
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

