.common-horizontal-alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.common-vertical-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}